datalad
git-annex
imageio
jupyter-book
jupytext
matplotlib
myst_nb
nilearn
nitransforms
pyspfm==1.0.0
seaborn
sphinx>=4
sphinx-inline-tabs
sphinx-jupyterbook-latex
sphinx-proof
sphinxcontrib-bibtex
tedana==25.1.0
