datalad
git-annex
imageio
jupyter-book<2.0.0
jupytext
matplotlib
myst_nb
nilearn
nitransforms
pyspfm==2.0.1
seaborn
sphinx>=4
sphinx-inline-tabs
sphinx-jupyterbook-latex
sphinx-proof
sphinxcontrib-bibtex
tedana==26.0.0
